<footer>
  <div>
    <section>
      <h1>MedicoEmona</h1>
      <a href="/lokacija/" class="footer_location">
        Komenskega 32 <br />
        1000 Ljubljana
      </a>
    </section>
    <section class="footer_contact">
      <h1>Kontakt</h1>
      <ul>
        <li><a href="/kontakt/">Naročanje preko obrazca →</a></li>
        <li>
          E-mail:
          <a class="insertEmail" href="./">info@medicoemona.si</a>
        </li>
        <li>
          Tel.:
          <a href="tel:+386069791096">069 791 096</a>
          {{site.data.settings.hours}}
        </li>
      </ul>
    </section>
    <section>
      <h1>Drugo</h1>
      <ul class="footer_nav">
        <li><a href="/lokacija/">Lokacija</a></li>
      </ul>

      <p>
        <span id="copyright">©</span> Zasebni zdravstveni zavod MedicoEmona
        <script>
          document
            .getElementById('copyright')
            .appendChild(
              document.createTextNode(' ' + new Date().getFullYear())
            );
        </script>
      </p>
      <p class="webdesign">
        Spletne storitve: <a href="http://www.danielcobo.me">Daniel Cobo</a>
      </p>
    </section>
  </div>
</footer>
